[Unit]
Description=Prometheus
Documentation=https://github.com/molu8bits/vmware-esxi-prometheus-grafana
Wants=network-online.target
After=network-online.target

[Service]
Environment=ESX_HOST=esx01.mydomain.com
Environment=ESX_USERNAME=root
Environment=ESX_PASSWORD=esxrootpassword
Environment=ESX_DEBUG=info
Environment=ESX_LISTEN=:9611
Type=simple
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/prometheus-vmware-exporter
SyslogIdentifier=esx_exporter_01
Restart=always

[Install]
WantedBy=multi-user.target
